* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("../public/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 57, 68, 0.543);
  backdrop-filter: blur(19px) saturate(100%);
  border: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
